@model IEnumerable<Reservations>

@{
    int counter = 1;
    ViewBag.Title = "MY RESERVATIONS";
}

<div class="my-5 text-left">
    <h3> MY RESERVATIONS </h3>
    <hr />
</div>

<div class="my-5">
    <table id="myTable" class="table">
        <thead class="thead-dark table-hover table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(item => item.Date)</th>
                <th scope="col">@Html.DisplayNameFor(item => item.ReservationTypeId)</th>
                <th scope="col">@Html.DisplayNameFor(item => item.Status)</th>
                @*<th scope="col">@Html.DisplayNameFor(item => item.User)</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Reservations reservation in Model)
            {
            <tr>
                <td>@counter</td>
                <td>@reservation.Date.ToShortDateString()</td>
                @if (reservation.ReservationTypeId == 3)
                {
                    <td>Week-End</td>
                }
                else if (reservation.ReservationTypeId == 2)
                {
                    <td>Evening</td>
                }
                else
                {
                    <td>Day</td>
                }

                @if (reservation.Status == null)
                {
                    <td class="text-muted">Pending</td>
                }
                else if (reservation.Status == true)
                {
                    <td class="text-success">Approved</td>
                }
                else
                {
                    <td class="text-danger">Declined</td>
                }

                @*<td>@reservation.UserId</td>*@
            </tr>
                counter++;
            }
        </tbody>
    </table>

    <div class="my-5 text-center">
        <a asp-action="Book" asp-controller="Reservation">Make new reservation</a> |
        <a asp-action="index" asp-controller="Home">Back to Home</a>
    </div>

</div>

@section DTReservationsList {
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
}
