
@model List<YCReservations.Models.ViewModels.EditUsersRoleViewModel>

@{
    ViewBag.Title = " ADMIN || EDIT USERS ROLE";
}

<div class="my-5">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <span class="display-4">Add or remove users from this role</span>
                <hr />
                <input disabled value="@ViewBag.RoleId" class="form-control" />
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var uniqueName = "User" + i;
                    <div class="form-check">
                        <input hidden asp-for="@Model[i].UserId" />
                        <input hidden asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" id="@uniqueName" class="form-check-input" />
                        <label for="@uniqueName" class="form-check-label">@Model[i].UserName</label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@ViewBag.RoleId" class="btn btn-outline-primary mx-2">Back To Role</a>
                <button class="btn btn-dark">Update</button>
                <br />
                <div class="text text-danger" asp-validation-summary="All"></div>
            </div>
        </div>
    </form>
</div>